<h1>Write a new message</h1>
<form method='POST' action='/new'>
  <label for='user'>User:</label>
  <input type='text' id='user' name='user' />

  <label for='text'>Message:</label>
  <input type='text' id='text' name='text' />

  <button type='submit'>Send</button>
</form>